@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* Prevents scrollbars and hides any content overflowing the viewport */
}

/* This file is for your main application CSS */
@font-face{
  font-family: "Signika";
  src: url("/fonts/static/Signika-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("/fonts/static/Signika-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("/fonts/static/Signika-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

input {
  border-width: 1px;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: #f7f8f7;
}

input::placeholder {
  font-size: 0.875rem;
  /* text-sm */
  color: #a0aec0;
  /* placeholder:text-neutral-400 */
  font-weight: 300;
  /* placeholder:font-light */
}

input:focus {
  outline: none;
  border-width: 0.6px;
  border-color: rgb(87 107 114 / 1);
  /* focus:border-figHover */
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form-control {
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  background-color: #f7f8f7;
  /* border-color: #e0e2e5 !important; */
  border-color: black;
}

.form-control::placeholder {
  font-size: 0.875rem;
  /* text-sm */
  color: #a0aec0;
  /* placeholder:text-neutral-400 */
  font-weight: 300;
  /* placeholder:font-light */
}

.form-control:focus {
  outline: none;
  border-width: 0.6px;
  border-color: rgb(87 107 114 / 1);
  /* focus:border-figHover */
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdown-menu-arrow::before{
  content: "";
  position: absolute;
  top: -9px;
right: 9px;
  border-width: 0px 5px 5px 5px;
  border-color: transparent transparent black transparent;
}
.menu-item{
  @apply block px-4 py-2 text-sm text-black font-brand font-bold
}
.menu-item:hover{
  @apply hover:text-[#0b4927]
}
.round-image-padding{
  border-radius: 50%;
  border: 1.5px solid hsl(0, 0%, 100%);
  padding: 4px;
}

/* .img-down-arrow::after{
  content: "";
  position:absolute;
  right: -12px;
  top: 45%;
  transform: translateY(-50%);
  border-width: 5px 5px 0px 5px;
  border-color: black transparent transparent transparent;
  border-style: solid;
} */


textarea.form-control {
  resize: vertical; /* Allows vertical resizing */
}


.btn-primary{
  @apply px-4 py-2 bg-transparent text-[#960e0e] border border-[#960e0e]  rounded 
}
.btn-primary:hover{
  @apply hover:bg-[#960e0e] hover:text-white
}

.btn-secondary{
    @apply px-4 py-2 bg-transparent text-[#0B4927] border border-[#0b4927]  rounded 
}

.btn-secondary:hover{
  @apply hover:bg-[#0b4927] hover:text-white
}

.neumorphic {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.15),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.25);
/* 
   width: 250px;
  height: 250px;   */
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background-color{
  /* From https://css.glass */
  background-image:linear-gradient(to top left, rgba(248,145,24,0.4), rgba(9,9,9, 0.36), rgba(248,145,24,0.20));
    
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
}

.box-design{
  /* From https://css.glass */

  /* From https://css.glass */
      background-image: linear-gradient(to top left, rgba(248, 145, 24, 0.5), rgba(9, 9, 9, 0.45), rgba(248, 145, 24, 0.15));
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    color: white;
    border: 1px solid rgba(248, 145, 24, 0.74);
}


/*scrolling-section*/
.scrolling-col-nigeria {
  display: inline;
  margin-right: 10px;
}

.scrolling-col-italian {
  display: inline;
  margin-right: 10px;
}

.scrolling-col-chinese {
  display: inline;
  margin-right: 10px;
}

.scrolling-col-japanese{
  display: inline;
  margin-right: 10px;
}

.scrolling-col-indian {
  display: inline;
  margin-right: 10px;
}

.scrolling-col-american {
  display: inline;
  margin-right: 10px;
}

.scrolling-col-french {
  display: inline;
  margin-right: 10px;
}

.scrolling-col-ghanaian {
  display: inline;
  margin-right: 10px;
}

.scrolling-col-south {
  display: inline;
  margin-right: 10px;
}


/*---scrolling-section text---*/

.scrolling-col-nigeria button {
  display: inline;
 
}

.scrolling-col-italian button{
display: inline;
}


.scrolling-col-chinese button{
  display: inline;
}

.scrolling-col-japanese button {
  display: inline;
}

.scrolling-col-french button {
  display: inline;
}

.scrolling-col-indian button {
  display: inline;
}

.scrolling-col-american button {
  display: inline;

}

.scrolling-col-french button{
  display: inline;
 
}

.scrolling-col-ghanaian button{
  display: inline;

}

.scrolling-col-south button {
  display: inline;
 
}



#col {
  padding: 0;
  margin: 0;
  transform: translateX(100%);
  animation-name: scrolling;
  animation-duration:30s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: relative;
}


@keyframes scrolling {
  100% {
    transform: translateX(-40%);
  }
}




/* End of scrolling section*/

/* modal style */
.modal{
     /* display: none;  */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-dialog{
  min-height: calc(100% - (1.75rem * 2));
  max-width: 1200px;
  margin: 1.75rem auto;
  display: flex;
  align-items: center;
  transition: transform .3s ease-out;
}

.modal-content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.6rem;
  outline: 0;
}

.modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  /* border-bottom: 1px solid #e9ecef; */
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  /* border-top: 1px solid #e9ecef; */
}


/* slider css */
/* Styles for the overlay */

.slider-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay color */
  z-index: 9999;
  /* Ensure the overlay covers other content */
}

/* Base styles for the slider container */

.slider-container {
  position: fixed;
  top: 0;
  right: 0px;
  /* Adjust the initial position as needed */
  max-width: 500px;
  /* Adjust the width as needed */
  height: 100%;
  background-color: white;
  /* Background color for the slider */
  color: black;
  /* Text color */
  transition: right 0.3s ease-in-out;
  /* Animation transition */
  z-index: 1000;
  /* Ensure it's above other content */
  width: 100%;
  overflow-y: auto;
}

/* Styles for the slider content */

.slider-content {
  padding: 20px;
}
/* css for column */
.row {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}


.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto>* {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1>* {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4>* {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5>* {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }


}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto>* {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1>* {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2>* {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4>* {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5>* {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto>* {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1>* {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2>* {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4>* {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5>* {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }}

