@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* Prevents scrollbars and hides any content overflowing the viewport */
}

/* This file is for your main application CSS */
@font-face{
  font-family: "Signika";
  src: url("/fonts/static/Signika-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("/fonts/static/Signika-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("/fonts/static/Signika-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}