<!DOCTYPE html>
<html>
  <head>
    <title>Bulk transfer success alert</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <style>
    #footer_content,
    #footer_item {
      color: #f0b140;
      display: flex;
      gap: 1rem !important;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    table {
      border-collapse: collapse;
    }
    .header_img {
      display: flex;
      justify-content: flex-start;
      background-color: #faf7f2;
      padding: 60px;
    }
    #body_holder {
      font-size: 16px;
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
      padding: 0.25rem 1rem;
      border: 1px solid #e5ecf6;
      border-radius: 13px;
      gap: 1rem !important;
    }
    #footer {
      background-color: #3b484d;
      color: #fff;
      padding: 2rem;
      font-weight: 400;
      display: flex;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
    }
    #footer_content {
      justify-content: space-between !important;
      align-items: center !important;
    }
    #footer_item {
      justify-content: normal !important;
      align-items: center !important;
    }
  </style>
  <body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
      <tr>
        <td colspan="2" align="center" bgcolor="#ffffff" style="">
          hello <%= @args.name %>
        </td>
      </tr>
      <tr>
        <td>
          <p>You can reset your password by visiting the URL below:</p>

          <a href={@args.url} target="_blank"><%= @args.url %></a>

          <p>If you didn't request this change, please ignore this.</p>
        </td>
      </tr>
    </table>

    <tr>
      <td bgcolor="#ffffff" style="padding: 20px">
        <div>
          <p style="color: #5c5c5c; font-size: small; margin-bottom: -10px">
            Best regards
          </p>
          <p style="color: #5c5c5c; font-size: medium">
            FoodiesNetwork
          </p>
        </div>
      </td>
    </tr>
  </body>
</html>
